@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway');
body { 
overflow-y: hidden; 
  overflow-x: hidden; 
}

*{
 margin: 0;
 padding: 0 0 0 10px;
}

ul{
 width: 800px;
 list-style: none;
 margin: auto;
 margin-left: 200px;
}
li{
	padding: 10px;
	float: left;
}
.min{
 width: 200px;
 padding: 10px; 
 border: 5px solid white;
 box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4)
}
.min:hover{
transform: scale(1.1);
transition: all .5s ease-in; 
}
.lbox{
 visibility: hidden;
 opacity: 0;
}

.lbox:target{
 opacity: 1;
 visibility: visible;
 width: 100%;
 height: 100%;
 top:0;
 left:0;
 background: rgba(0,0,0,0.5);
 position:fixed;
}
p{
	font-family: Raleway;
	font-size: 14pt;
	font-weight: bold;
	margin-left: 150px;	
	color: white;
	line-height: 20px;
}
.box_img {
 width: 100%;
 margin-left: 400px;
 margin-top: 70px;
 padding: 10px;
}

.btn{
 color: #fff;
 font-family: 'Arial';
 text-decoration: none;
 position: absolute;
 width: 50px;
 height: 50px;
 font-size: 40px;
 text-align: center;
}

#prev {
 left: 5%;
 top: 45%;
}

#next {
 right: 5%;
 top: 45%;
}

#close {
 right: 2%;
 top: 0;
}