@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway');

		ul#galeria{
			list-style: none;
			width: 700px;
			padding: 50px;
			overflow: hidden;
			margin: 0 auto;
		}
		
		ul#galeria li{
			display: block;
			width: 200px;
			height: 200px;
			float: left;
			margin: 10px;
			border: 5px solid white;
			background-color: white;
			box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.4);
		}
		
		ul#galeria li:hover{
			transform: scale(1.5);
			transition: all .5s ease-in; 
		}
		
		ul#galeria li span{
			font-family: Raleway;
			font-size: 9pt;
			font-weight: bold;
			line-height: 350px;
			color: white;
			background-color: rgba(0,0,0,0.3);
			text-shadow: 1px 1px 1px 1px black;
			padding: 5px;
			border-radius: 5px;
			opacity: 0;
		}

		ul#galeria li:hover span{
			opacity: 1;
		}
		
		ul#galeria li#imagem1{
			background: url('../_imagens/galeria-01.jpg');
			background-position: 50% 50%;
			background-size: 500px 500px;
			background-color: white;
		}
		
		ul#galeria li#imagem1:hover{
			background-position: 0% 0%;
			background-size: 200px 200px;
		}
		
		ul#galeria li#imagem2{
			background: url('../_imagens/galeria-02.jpg');
			background-position: 50% 50%;
			background-size: 500px 500px;
			background-color: white;
		}
		
		ul#galeria li#imagem2:hover{
			background-position: 0% 0%;
			background-size: 200px 200px;
		}
		
		ul#galeria li#imagem3{
			background: url('../_imagens/galeria-03.jpg');
			background-position: 50% 50%;
			background-size: 500px 500px;
			background-color: white;
		}
		
		ul#galeria li#imagem3:hover{
			background-position: 0% 0%;
			background-size: 200px 200px;
		}
		
		ul#galeria li#imagem4{
			background: url('../_imagens/galeria-04.jpg');
			background-position: 50% 50%;
			background-size: 500px 500px;
			background-color: white;
		}
		
		ul#galeria li#imagem4:hover{
			background-position: 0% 0%;
			background-size: 200px 200px;
		}
		
		ul#galeria li#imagem5{
			background: url('../_imagens/galeria-05.jpg');
			background-position: 50% 50%;
			background-size: 500px 500px;
			background-color: white;
		}
		
		ul#galeria li#imagem5:hover{
			background-position: 0% 0%;
			background-size: 200px 200px;
		}
		
		ul#galeria li#imagem6{
			background: url('../_imagens/galeria-06.jpg');
			background-position: 50% 50%;
			background-size: 500px 500px;
			background-color: white;
		}
		
		ul#galeria li#imagem6:hover{
			background-position: 0% 0%;
			background-size: 200px 200px;
		}